* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
  }

nav {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    position: fixed;
    background-color: transparent;
    z-index: 40;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 5px;
}


.top-logo img{
    height: 20%;
    width: auto;
    padding-left: 30px;
}

.nav-container {
    display: flex;
    justify-content: center;
}


.button {
    background-color: rgb(31, 135, 231);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;

}

.nav-btn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: flex;

}

.dropdown-content1, .dropdown-content2 {
    display: none;
    position: absolute;
}

.dropdown-content1 a ,.dropdown-content2 a{
    text-decoration: none;
    display: block;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.hambuger-icon div {
    display: block;
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px auto;
    transition: all 0.3s ease-in-out;
}

.hero {
    background-image: url("../images/slide6.jpg");
    text-align: center;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: white;
    font-size: 30px;
}

.foundations {
    background-color: rgb(229, 247, 224);
    height: 300px;
}

.foundations h2 {
    text-align: center;
    padding: 20px;
}

.icon {
    height: 70px;
    width: auto;
}

.foundations-divs {
    display: flex;
    justify-content: space-evenly;
}

.foundations-divs div {
    background-color: white;
    width: 18%;
}

.vision {
    background-image: url("../images/Shared-Space-at-BDD.png");
}

.vision h2 {
    text-align: center;
    padding: 20px;
    color: white;
}

.video {
    margin: auto;
    padding: 10px;
    width: 20%;
}

.community h2 {
    text-align: center;
    padding: 20px;
}

.community-divs {
    display: flex;
    justify-content: space-evenly;
}

.download-text {
    text-align: center;
    padding: 20px;
}

.download {
    display: flex;
    padding-left: 650px;
    padding-right: 650px;
}

.prefered-hub {
    background-image: url("../images/parallax-light.jpg");
}

.prefered-hub-text {
    text-align: center;
    padding: 20px;
}

.prefered-hub-divs {
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
}

.prefered-hub-divs div {
    height: 200px;
    width: 200px;
}

@media (max-width: 1255px) {
    nav {
        display: none;
    }

    .hambuger-icon {
        display: block;
        float: right;
    }
}

@media (min-width: 1256px) {
    .hambuger-icon {
        display: none;
    }
}
