* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 5px;
}

.top-logo img{
    height: 20%;
    width: auto;
    padding-left: 30px;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: rgb(31, 135, 231);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;

}

.nav-btn {
    border: none;
    cursor: pointer;

}

.dropdown {
    position: relative;
    display: flex;

}

.dropdown-content1, .dropdown-content2 {
    display: none;
    position: absolute;
}

.dropdown-content1 a ,.dropdown-content2 a{
    text-decoration: none;
    display: block;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

@media (max-width: 1255px) {
    nav {
        display: none;
    }
}

