* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 5px;
}

.top-logo img{
    height: 20%;
    width: auto;
    padding-left: 30px;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: rgb(31, 135, 231);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;

}

@media (max-width: 1255) {
    nav {
        display: none;
    }
}

